@layer framework, documentation;
@layer framework {
  .inline {
    display:inline;
  }
}
@layer documentation {
  @layer page_header {
    /* home link */
    .box header .home a:link {
      text-decoration:none;
      
      color: darkred;
      font-size: 0.7em;
      margin-left: 0.5em;
    }
    /* inline divider */
    .box header p::before {
      content: '|';
      padding-right: 0.6em;
    }    
  }
  @layer content {
    .box {
      background-color: silver;
      padding: 0 0 1em 0;
    }

    .box .content .content-header {
      background-color: darkred;
      color: white;
      padding-left: .6em;
      margin-bottom: -.3em;
    }
    
    .box p {
      padding: 0 0 0 0.5em;
      margin-top: 1.6em;
    }
    
    .box .content .keyword {
      background-color: rgba(233,242,222,.5);
      padding: 0 0.3em;
    }
  }
  
  @layer breadcrumbs {
    /* list & list items */
    .box nav ul {
       padding: 0 0 0 .3em;
       margin: 0 0 0 0.2em;
       padding-top: 0.8em;
    }
    .box nav li a:link {
       color: darkred;
    }
    .box nav li a:hover {
       color: #C25353;
    }
    .box nav li {
       list-style: none;
       display: inline;
       font-size: 1em;
       padding: 0;
    }
    /* breadcrumb separator */
    .box nav li:nth-child(1n+2)::before {
       content: "> ";
       font-size: 0.9em;
       text-align:left;
    }
  }
  
  /* block divider */
  /* hr is the same as a border div,
     but with a border div we have more        control.*/
  .box .block-separator {
      width: 17em;
      margin: 0.2em 0 0 0.4em;
      border-bottom: 1px solid black;
      margin-top: -0.03em; /* collapse margin */
   }

}
    
